<!DOCTYPE HTML>
<html>
<head>
    <title>Webpage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>

</style>
<html>
<head></head>
<h1>Login</h1>
<h2 th:attr="style=${errStyle}">Błąd podczas logowania! Spróbuj ponownie</h2>
<form name='f' action="perform_login" method='POST'>
    <table>
        <tr>
            <td>Nazwa użytkownika:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Hasło:</td>
            <td><input type='password' name='password' value=''/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Zaloguj"/></td>
        </tr>
    </table>
</form>
</body>
</html>
</body>
</html>